.contact{
    padding: 40px;
    margin-bottom: 40px;
    background-color: #1C1B32;
}

.contact__text {
    margin: 0 auto 55px auto;
    max-width: 500px;
    text-align: center;
}

.contact__text h2{
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 1);

}

.contact__text p{
    margin-bottom: 15px;
    color: rgba(255, 255, 255, .5);
    line-height: 30px;
}

.contact__img{
    display: grid;
    max-width: 70%;
    margin: auto;
}

@media (min-width: 1024px){
    .contact{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 85%;
        margin: 0 auto 100px;
        padding: 50px 100px 70px;
        border-radius: 30px;
    }

    .contact__text{
        flex-basis: 40%;
        margin: 0;
        text-align: left;
    }

    .contact__img{
        flex-basis: 35%;
        margin: -130px 0 0 0;
        max-width: none;
    }
}